<div class="sidebar h-100">
  <div class="title main-bg-color">
    <h1 class="h5 p-3 text-center">
      <img
        src="https://res.cloudinary.com/protenders/image/upload/s--8U9RdC9m--/c_limit,d_default_logo,dpr_auto,f_auto,fl_progressive:semi,q_auto:eco,w_auto:100/69bd3694efedd00ce00d11bb12179fac.png"
        alt=""
      />
      Khatib & Alami
    </h1>
  </div>
  <ul class="my-3">
    <li class="p-2">
      <a routerLink="/dashboard" routerLinkActive="activeLink"
        ><i class="fa-solid fa-chart-pie fs-5 me-3"></i>Dashboard</a
      >
    </li>
    <li class="p-2">
      <a routerLink="/users" routerLinkActive="activeLink"
        ><i class="fa-solid fa-user fs-5 me-3"></i>Users</a
      >
    </li>
  </ul>
</div>
