.stats {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
}
.stats .title {
  position: relative;
  padding-left: 25px;
}
.stats .title::before,
.stats .title::after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  background-color: var(--main-color);
  margin-bottom: 10px;
}
.stats .title::before {
  bottom: -25px;
  width: 50px;
}
.stats .title::after {
  bottom: -33px;
  width: 80px;
}
.stats-chart {
  width: 400px;
  margin: auto;
}
